{% extends 'base.html.twig' %}

{% block title %}Property List{% endblock %}

{% block body %}
<section>
<h2>Liste des biens immobiliers</h2>
    <div class="flex flex-col items-center justify-center mb-8">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Filtre<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-secondary w-64 flex flex-row justify-center py-2 items-center divide-x divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            {% include 'property/_filter.html.twig' %}
        </div>
    </div>
    {% if properties %}
        <div class="flex flex-col justify-center items-center md:grid md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-8">
    {% for property in properties %}
        {% include 'property/_card.html.twig' %}
    {% endfor %}
        </div>
    {% else %}
        <div class="flex justify-center items-center mt-12">
            <h3>Aucun bien ne correspond à votre recherche</h3>
        </div>
    {% endif %}
</section>

{% endblock %}