{% extends 'base.html.twig' %}

{% block title %}Property List{% endblock %}

{% block body %}
    <section>
        <h2>Liste des biens en ventes</h2>
        <div class="grid grid-cols-3 gap-y-8">
            {% for property in propertiesachat %}
                {% include 'property/_card.html.twig' %}
            {% endfor %}
        </div>
    </section>

{% endblock %}