{% extends 'base.html.twig' %}

{% block title %}New Property{% endblock %}

{% block body %}
    <section class="flex flex-col justify-center items-center">
    <h2 class="my-8">Créer une propriété</h2>

    {{ include('property/_form.html.twig') }}


    <a href="{{ path('property_list') }}" class="text-white bg-main font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Retour a la liste</a>
    </section>
{% endblock %}
