{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div>
            <h1>Accueil</h1>
            <p>Bonjour bienvenue sur notre site. Notre objectif vous faciliter les recherches pour trouver des biens immobilier qui vous convient!</p>
        </div>
    </section>
{% endblock %}
