{% extends 'base.html.twig' %}

{% block body %}
    <div style='background-image: url("{{ asset('picture/frontpage2.jpg') }}")' class="h-96 bg-cover bg-center py-20">
        <div class="flex justify-center items-center flex-col">
            <h1 class="text-white mb-4">Accueil</h1>
            <p class="text-white">Bonjour bienvenue sur notre site. Notre objectif vous faciliter les recherches pour
                trouver des biens immobilier qui vous convient!</p>
        </div>
    </div>
    <section>
        <h2>Présentation</h2>
    </section>
{% endblock %}
