{% extends 'base.html.twig' %}

{% block body %}
    <div style='background-image: url("{{ asset('picture/frontpage2.jpg') }}")' class="h-[400px] bg-cover bg-center py-20 mt-16">
        <div class="flex justify-center items-center flex-col">
            <h1 class="text-white mb-4">Accueil</h1>
            <p class="text-white px-8">Bonjour bienvenue sur notre site. Notre objectif vous facilitez les recherches pour
                trouver des biens immobiliers qui vous convient!</p>
        </div>
    </div>
    <section>
        <h2>Présentation</h2>
        <div class="pl-12">
            <p>Bienvenue sur le site Find My Home</p>
            <p>Find My Home est un site créé par Benjamin Forest alors Étudiant en développement web dans l'école de
                Digital Campus a Rennes</p>
            <p>Pour l'instant, c'est un projet d'étude pour pouvoir développer mes capacités et mon expérience dans le
                domaine de la création de site web</p>
            <p>Le site est encore en construction, mais il sera bientôt disponible pour vous aider dans vos recherches
                de biens immobilier</p>
            <p>Ce site web est développer en PHP avec le framework Symfony</p>
        </div>
        <h2>Fonctionnalités</h2>
        <div class="pl-12">
            <ul>
                <li>Créer un compte</li>
                <li>Ajouter des propriétés</li>
                <li>Voir les propriétés</li>
                <li>Créer des visites</li>
                <li>Voir les visites</li>
                <li>S'inscrire au visite</li>
                <li>Ajouter des propriétés en favoris</li>
            </ul>
        </div>

        <label for="minmax-range" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Min-max range</label>
        <input id="min-range" type="range" min="0" max="50000" value="100" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
        <input id="max-range" type="range" min="0" max="50000" value="100" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
        <div class="flex justify-between mt-2 text-xs text-gray-600 dark:text-gray-400">
            <span>0</span>
            <span>500</span>
            <span>1000</span>
            <span>1500</span>
            <span>2000</span>
            <span>2500</span>
            <span>3000</span>
            <span>3500</span>
            <span>4000</span>
            <span>4500</span>
            <span>5000</span>
        </div>
        <input type="submit">
    </section>
{% endblock %}
