{% extends 'admin/base.html.twig' %}

{% block title %}New Visit{% endblock %}

{% block body %}
    <section>
    <h2>Create new Visit</h2>

    {{ include('admin/visit_admin/_form.html.twig') }}

    <a href="{{ path('app_visit_admin_index') }}">back to list</a>
    </section>
{% endblock %}
