{{ form_start(filterForm) }}
{{ form_row(filterForm.firstName, {'attr': {'class': 'rounded-lg w-52','placeholder':'Prénom'}}) }}
{{ form_row(filterForm.lastName, {'attr': {'class': 'rounded-lg w-52','placeholder':'Nom'}}) }}
<div class="flex justify-center items-center">
    <button type="submit" class="bg-valid border-2 border-gray-400 rounded-lg h-12 w-24">Rechercher</button>
</div>
{{ form_end(filterForm) }}
