{% extends 'base.html.twig' %}

{% block title %}Edit Property{% endblock %}

{% block body %}
    <section>
        <h2>Mise a jour Bien</h2>
        <div class="flex flex-col justify-center items-center">
            {{ include('admin/property_admin/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('admin/property_admin/_delete_form.html.twig') }}
        </div>
        <a href="{{ path('app_property_admin_index') }}" class="text-white bg-main font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Retour</a>
    </section>
{% endblock %}
