{% extends 'base.html.twig' %}

{% block title %}Edit Property{% endblock %}

{% block body %}
    <h1>Edit Property</h1>

    {{ include('admin/property_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_property_admin_index') }}">back to list</a>

    {{ include('admin/property_admin/_delete_form.html.twig') }}
{% endblock %}
