@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src: url('../../public/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Fasthand';
    src: url('../../public/fonts/fasthand/Fasthand-Regular.ttf');
}

html {
    @apply font-lato;
}

section {
    @apply px-8 lg:px-36 pb-8 bg-secondary;
}

h1 {
    @apply text-8xl font-bold text-gray-800;
}

h2 {
    @apply text-6xl p-8 font-bold text-gray-800;
}

h3 {
    @apply text-4xl font-bold text-gray-800;
}

#carrousel {
    @apply w-full h-[400px]  border-solid shadow-xl relative;
}

#container{
    @apply w-full h-[400px];
}
.photo{
    @apply w-full h-[400px] m-0 inline-block bg-cover;
}

.bouton{
    @apply absolute top-[150px] cursor-pointer;
}

#prev{
    @apply left-[0] opacity-40  rotate-180;
}
#next{
    @apply right-[0] opacity-40  rotate-0;
}

#prev:hover{
    @apply  opacity-100 rotate-180 scale-110;
}

#next:hover{
    @apply  opacity-100  rotate-0 scale-110;
}


